<section class="bg-light py-5">
  <div class="container">
    <div class="bike-slider-wrapper overflow-hidden rounded-4 shadow">
      <div class="bike-slider-track d-flex">
        <!-- Repeatable Bike Items -->
         <!-- A commit from yogi -->
        <div class="bike-slide">
          <img src="assets/images/fzs.png" alt="FZS Bike" class="img-fluid rounded">
        </div>
        <div class="bike-slide">
          <img src="assets/images/activa.png" alt="Activa Bike" class="img-fluid rounded">
        </div>
        <div class="bike-slide">
          <img src="assets/images/avenger.png" alt="Avenger Bike" class="img-fluid rounded">
        </div>
        <!-- Repeat again for seamless loop -->
        <div class="bike-slide">
          <img src="assets/images/fzs.png" alt="FZS Bike" class="img-fluid rounded">
        </div>
        <div class="bike-slide">
          <img src="assets/images/activa.png" alt="Activa Bike" class="img-fluid rounded">
        </div>
        <div class="bike-slide">
          <img src="assets/images/avenger.png" alt="Avenger Bike" class="img-fluid rounded">
        </div>
      </div>
    </div>
  </div>
</section>
