<header class="bg-dark text-white py-3 w-100 shadow-sm z-100">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      
      <!-- Logo -->
      <div class="col-auto">
        
        <span class="logo fw-bold fs-3 text-warning" (click)="moveToHome()" style="cursor: pointer;" >RENTAL</span>
      </div>
      
      <!-- Search Bar -->
      <div class="col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="input-group" style="max-width: 800px; width: 100%;">
          <span class="input-group-text bg-white border-end-0" (click)="openCityModal()">
            🔍
          </span>
          <input
            type="text"
            class="form-control border-start-0"
            placeholder="Search your city"
            aria-label="Search"
            (click)="openCityModal()"
          />
        </div>
      </div>
      
      <!-- Auth Buttons -->
      <div class="col-md-auto d-flex align-items-center gap-3">
        <ng-container *ngIf="!isUserLoggedIn">
          <a
            routerLink="/login"
            routerLinkActive="active"
            class="btn btn-outline-light btn-sm"
          >
            Login
          </a>
          <a
            routerLink="/signin"
            routerLinkActive="active"
            class="btn btn-outline-light btn-sm"
          >
            Sign Up
          </a>
        </ng-container>

        <ng-container *ngIf="isUserLoggedIn">
          <button
            class="btn btn-light btn-sm"
            (click)="logout()"
          >
            LogOut
          </button>
          <span
            class="text-warning fs-4"
            role="button"
            tabindex="0"
            (click)="toggleSidebar()"
          >
            &#8942;
          </span>
        </ng-container>
      </div>
      
    </div>
  </div>
</header>

<!-- Sidebar floating over Home -->
<app-sidebar [isOpen]="showSidebar" (closeSidebar)="toggleSidebar()"></app-sidebar> 
<app-city-modal
  [isOpen]="showCityModal"
  (closeSidebar)="closeCityModal()"
  (citySelected)="handleCitySelection($event)">
</app-city-modal>



